body {
  background-color: #e7e7e7;
}
.navbar-brand {
  width: 80px;
}
.badge {
  background-color: #d3d3d3 !important;
  color: #5c5c5c !important;
}
.footer {
  background-color: #f8f8f8 !important;
}
.social i {
  padding: 14px;
  color: white;
  background-color: orange;
  text-align: center;
  margin: 5px;
  transition: background-color 0.2s ease-out;
}
/* Cards */
.card-body {
  background-color: orange;
  color: black;
}
.card-title {
  font-weight: 900;
}
.card {
  border: 2px solid #e7e7e7;
  border-radius: 5px;
  overflow: hidden;
}
.card-img {
  /* overflow: hidden; */
   height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Hovers */
.list-unstyled li a,
.list-unstyled li a span,
.nav-item a,
.nav-icons i,
.card {
  transition: all 0.2s ease-out;
}
.card .card-img {
  transition: transform 0.5s ease-out;
}
.social i:hover {
  background-color: grey;
}
.list-unstyled li a:hover {
  color: orange !important;
}
.list-unstyled li a:hover .badge {
  background-color: orange !important;
}
.nav-item a:hover {
  background-color: #f8f8f8;
  color: orange !important;
}
.nav-icons i:hover {
  color: orange !important;
}
.card:hover {
  border: 2px solid orange;
}
.card:hover .card-img {
  transform: scale(1.12);
}
/*use color:orange for the orange color*/
/*use background-color: #d3d3d3; color: #5c5c5c; for the badges*/
/*use color:grey for the social-share icons on hover*/
